---
const { collection } = Astro.props;
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.astro'
import ProductPageContent from '../components/ProductPageContent.jsx';

export async function createCollection() {
  // let products = await pullData();

  let products = await fetch(`${import.meta.env.NETLIFY_URL}/.netlify/functions/get-product-list`)
    .then(res => res.json()).then((response) => {
      return response.products.edges
    });

  return {
    // `routes` defines the total collection of routes as data objects.
    routes: products.map((p, i) => {
      const params = {prod: p.node.handle, index: i};
      return params;
    }),
    permalink: ({ params }) => { 
      return `/product/${params.prod}`
    },
    async data({ params }) {
      return products.filter((p) => {
        return p.node.handle === params.prod;
      });
    },
    pageSize: Infinity,
  };
}
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoperoni | Buy {collection.data[0].node.title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <Header client:load />
  <div class="product-page">
    <article>
      <ProductPageContent:visible product={collection.data[0].node} />
    </article>
  </div>
  <Footer />
</body>
</html>