---
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.astro'
import Cart from '../components/Cart.jsx';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shoperoni | Cart</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <Header />
  <main class="cart-page">
    <article class="cart-page-content">
    <h1>Your cart</h1>
      <Cart client:visible />
    </article>
  </main>
  <Footer />
</body>
</html>
