---
import ProductListing from '../components/ProductListing.jsx';

const shopUrl = 'https://netlify-demo.myshopify.com'
const storefrontAcessToken = 'b98313b8d60c1d61649070cc78cc41da' // Safe to share. This is read-only. Not secret.

async function pullData() {
  // Assemble the graphql query to fetch info all products
  const query = `{
    products(sortKey: TITLE, first: 100) {
      edges {
        node {
          id
          handle
          description
          title
          images(first: 1) {
            edges {
              node {
                src
                altText
              }
            }
          }
        }
      }
    }
  }`;

  try {
    const response = await fetch(shopUrl + `/api/graphql`, {
      method: 'post',
      headers: {
        'Content-Type': 'application/graphql',
        'X-Shopify-Storefront-Access-Token': storefrontAcessToken,
      },
      body: query,
    })
      .then((res) => res.json())
      .then((response) => {
        console.log(response.data.products.edges);
        return response.data.products.edges
      });

    return {
      statusCode: 200,
      body: response,
    }
  } catch (error) {
    console.error(error);
  }
}

let products = await pullData();


---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheese and Meat Shop</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <main>
        <header>
            <h1>Shoperoni</h1>
            <h2>Shop for literally the best products in the world, right here.</h2>
        </header>
        
        <a class="cart" href="https://github.com">Shopping Cart</a>

        <ul class="products">
            {products.body.map((p) => {
                return <ProductListing product={p.node} />
            })}
        </ul>
    </main>
</body>
</html>
