---
import Header from '../components/Header.jsx'
// import Footer from '../components/Footer.astro'
// import ProductListing from '../components/ProductListing.jsx';

// let products = await fetch(`${import.meta.env.NETLIFY_URL}/.netlify/functions/get-product-list`).then(res => res.json()).then((response) => {
//     console.log('--- built home page ---')
//     return response.products.edges
//   });

---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shoperoni</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <Header />
  <main>
    <ul class="product-grid">
    testing
      <!-- {products.map((p) => {
        return <ProductListing product={p.node} />
      })} -->
    </ul>
  </main>

  <!-- <Footer /> -->
</body>
</html>
