<footer>
    <section class="testimonial">
      <h2>
        "The interplay of flavors between the cheese, meats and fruits is an
        absolute delight."
      </h2>
      <p>Paul Hotcakes</p>
    </section>
    <section class="app-footer-links">
      <ul>
        <li>About</li>
        <li>Company</li>
        <li>Locations</li>
        <li>Contact</li>
        <li>Hours</li>
      </ul>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>LinkedIn</li>
      </ul>
      <div class="newsletter">
        <h2 class="newsletter-title">Sign up for our newsletter:</h2>
        <input
          class="newsletter-input"
          type="email"
          placeholder="Enter your email"
        />
      </div>
    </section>
    <div class="project-credit">
      <p>
        This project is
        <a href="https://github.com/cassidoo/shopify-react-astro">open source on GitHub</a>,
        hosted with <a href="https://bit.ly/2G29YwK">Netlify</a>, built with
        <a href="https://astro.build/">Astro</a>
        and made with 💚 by Cassidy Williams (<a href="https://twitter.com/cassidoo">@cassidoo</a>)
      </p>
    </div>
  </footer>